version: 2

registries:
  clas12maven:
    type: maven-repository
    url: https://clasweb.jlab.org/clas12maven
  groovy_jfrog:
    type: maven-repository
    url: https://groovy.jfrog.io/artifactory/plugins-release

updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    registries:
      - clas12maven
      - groovy_jfrog
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
