# text editor tmp files
.*.sw*
.sw*

# builds
detectors/target
monitoring/target

# transient files
*.hipo
*.root
*.tmp
.nfs*
slurm
tmp
outfiles

# physics timelines
qa-physics/QA/qa
qaTree*.json*
chargeTree*.json*
