# text editor tmp files
.*.sw*
.sw*
.settings
.project
.classpath
.factorypath

# builds
/target

# transient files
*.hipo
*.root
*.tmp
.nfs*
slurm
tmp
outfiles

# physics timelines
qa-physics/QA/qa
qaTree*.json*
chargeTree*.json*
