outmon
outdat
.*.sw*
.sw*
*.json
*.hipo
*.root
*.png
*.tmp
*.bat
*.slurm
*.bak
*/*.dat*
*.dat
qaTree*.json*
logfiles/*.out
logfiles/*.err
farmout/*
farmout
.nfs*
dst
monsub*/*
.~lock*
QA/qa
calib/datasetList.txt
tmp
